<div id="<%= dom_id proyecto %>">
  <p>
    <strong>Nombre:</strong>
    <%= proyecto.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= proyecto.descripcion %>
  </p>

  <p>
    <strong>Fecha comienzo:</strong>
    <%= proyecto.fecha_comienzo %>
  </p>

  <p>
    <strong>Fecha termino:</strong>
    <%= proyecto.fecha_termino %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= proyecto.estado %>
  </p>

</div>
